.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
    min-height: 100vh;
}

.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
    gap: 30px;
    min-height: 100vh;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 10% 10% 10%;
    min-width: 310px;
    height: max-content;
    min-height: 390px;
    background-color: var(--color-primary-light);
    border-radius: 12px;
    opacity: 0.85;
    gap: 25px;
    padding: 25px 20px 10px 20px;
}

.login-single-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-label {
    color: var(--color-primary-dark);
}

.login-input {
    height: 50px;
    min-width: 180px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}

.credentials-alert{
    color: var(--color-error);
}

.login-button {
    margin: 10px 10px 10px 10px;
    width: 150px;
    height: max-content;
    padding: 5px ;
    font-size: 1.3rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
}

.login-link {
    color: var(--color-grey-light);
    text-decoration: underline;
    cursor: pointer;
}

.sign-up-link{
    font-weight: bold;
    text-decoration: none;
    color: var(--color-info);
}

.login-image {
    height: 166px;
    margin-bottom: 15px;
    background: url("/src/resources/loginClip2.png") repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: var(--color-grey-medium);
    margin-bottom: 5px;
}

h3{
    color: var(--color-grey-medium);
    margin-top: 5px;
    font-weight: normal;
}

@media only screen and (max-width: 1000px) {

}