.navbar-container {
    height: 100px;
    width: 100%;
    background-color: white;
    color: var(--color-grey-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: roboto_condensedlight;
    font-size: 1.2rem;
}

.link-nav {
    color: var(--color-grey-light);
    cursor: pointer;
    text-decoration: none;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.link-nav:visited {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-nav:hover {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-nav:active {
    color: var(--color-black-light);
    text-decoration: none;
}

.right-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 40%;
    margin-right: 30px;
}

.item {
    margin: 0 2% 0 2%;
    align-self: center;
    flex-wrap: nowrap;
    display: flex;
    cursor: pointer;
}

.logging {
    cursor: pointer;
    padding: 0 10px 0 0;
    align-self: center;
    flex-wrap: nowrap;
    display: flex;
    gap: 15px;
    align-items: center;
    white-space: nowrap;
}

.left-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 70px;
}

.sidebar-container {
    position: absolute;
    height: max-content;
    width: 160px;
    right: 8px;
    z-index: 995;
    display: flex;
    flex-direction: column;
    background-color: white;
    /*border-style: solid solid solid solid;*/
    border-color: var(--color-grey-light);
    border-radius: 0 0 10px 10px;
    border-width: 1px;
    font-size: 0.9rem;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 8px 10px 10px;
    cursor: pointer;
}

.sidebar-text {
    text-align: left;
    width: 100px;
}

.sidebar-separator {
    background-color: var(--color-grey-light);
    height: 1px;
    width: 120px;
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .right-navbar {
        flex-wrap: wrap;
    }

}
@media only screen and (max-width: 380px) {
    .left-navbar{
        margin-left: 5px;
    }
    .navbar-container {
        height: 150px;
    }
}