.reg-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    background-color: var(--color-primary-light);
}

.good-message {
    margin-top: 50px;
    font-size: 1.2rem;
    color: forestgreen;
    font-weight: bold;
}

.bad-message {
    margin-top: 50px;
    font-size: 1.2rem;
    color: var(--color-error);
    font-weight: bold;
}