.rowFlex {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*width: 560px;*/
}

.single-input {
    margin: 10px 10px 10px 10px;
    min-width: 220px;
    max-width: 260px;
}

.time-interval-container {
    margin: 10px 5px 10px 20px;
    width: fit-content;

}

.reset-button {
    width: fit-content;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px;
    background-color: var(--color-primary-dark);
    border: none;
    margin: 10px 10px 10px 20px;
    padding: 5px 10px 5px 10px;
}

.reset-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.reset-button:active {
    border: 2px solid var(--color-primary-dark);
}

.multiselects-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;

}

.multiselect-container {
    margin: 10px 10px 10px 10px;
    width: 45vw;
}

input[type="checkbox" i] {
    background-color: #5f7375;
}