.e-m-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 15px 0 15px 0;
}

.e-m-image {
    height: 300px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 30vw;
}

.message-window{
    max-width: 500px;
    min-height: 120px;
    padding: 20px 20px 20px 20px;
    /*background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 1) 35%, rgba(255, 255, 255, 1) 100%);*/
    background: var(--color-primary-light);
    border: solid 2px gray;
    border-radius: 10px;
    position: fixed;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}