.time-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 0 0 15px 0;
}

.time-top-info {
    margin: 10px 0 5px 15px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    z-index: 5;
    color: var(--color-grey-medium);
}

.smudge1-img {
    position: absolute;
    z-index: -1;
    height: 140px;
    width: inherit;
}

.time-top-info-item {
    margin: 5px 10px 5px 10px;
}

.worklog-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 90vh;
    margin-left: 15px;
}

.current-worklog {
    background-color: white;
    width: auto;
    max-width: 540px;
    border-radius: 10px;
    /*border: 3px solid gold;*/
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.past-worklog {
    background-color: white;
    max-width: 540px;
    border-radius: 10px;
    /*border: 3px solid gray;*/
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.past-worklog-data {
    margin: 5px 0px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 280px;
}

.time-bottom-project-info {
    margin-left: 15px;
}

.time-button {
    max-width: 250px;
    min-width: 100px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.time-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.time-button:active {
    border: 2px solid var(--color-primary-dark);
}

.time-button:disabled {
    background-color: var(--color-grey-light);
}

.project-info-container {
    margin: 10px 10px 20px 10px;
}

.project-name {
    font-weight: bold;
}

.hours-info {

}

.time-popup-confirm-window {
    position: absolute;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
    border: solid 2px gray;
    left: 25%;
    height: 30%;
    min-height: 200px;
    max-width: 380px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.add-worklog-top-info {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 8px;
    margin: 10px 10px 30px 10px;
}

.worklog-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    gap: 10%;
    margin: 0px 0 20px 10px;
}

.worklog-project-name {
    width: 220px;
}

.worklog-single-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    gap: 10%;
}

@media only screen and (max-width: 450px) {
    .worklog-project-name {
        width: 130px;
    }

    .worklog-row-flex {
        gap: 3%;
    }

    .worklog-single-line {
        gap: 3%;
    }

    .time-popup-confirm-window {
     left: 3%;
    }
}