.timeout-window{
    width: 300px;
    height: 200px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    position: absolute;
    z-index: 6;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}

.time-button {
    max-width: 250px;
    min-width: 100px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.time-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.time-button:active {
    border: 2px solid var(--color-primary-dark);
}