.t-m-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 15px 0 15px 0;
}

.t-m-image {
    height: 300px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 30vw;
}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
}

.save-team-button{
    /*height: 20px;*/
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 5px 0 0 0;
    padding: 5px 5px 5px 5px;
}

.save-team-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.save-team-button:active {
    border: 2px solid var(--color-primary-dark);
}