.new-project-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 35px 0 15px 0;
}

.new-project-form{

}

.new-project-error {
    color: #c90a0a;
    font-weight: bold;
    margin: 0 0 20px 20px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

.new-project-form {
    padding: 15px 0 0 15px;
}

.new-project-image {
    height: 535px;
    z-index: -1;
    position: absolute;
    right: 0;
}

.new-project-single-item {
    margin: 1px 15px 30px 15px;
}

.new-project-row-flex-nowrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    width: 100%;
    flex-wrap: nowrap;
}

.new-project-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    width: 100%;
    flex-wrap: wrap;
}

.deadline {
    width: fit-content;
}

.deadline-frame {
    border: solid 2px gray;
    border-radius: 10px;
    /*padding: 15px 15px 15px 15px;*/
    width: 80%;
}

.deadline-ordering {
    display: flex;
    flex-direction: row;
}

.milestone {
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    width: 100px;
}

.add-button{
    height: 56px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 0 0 0 10px;
    padding: 10px 15px 10px 10px;
}

.add-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.add-button:active {
    border: 2px solid var(--color-primary-dark);
}


@media only screen and (max-width: 807px) {
    .new-project-row-flex {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 715px) {
    .deadline-frame {
        width: 88vw;
    }
}

@media only screen and (max-width: 625px) {
    .milestone {
        width: 50px;
    }
}

@media only screen and (max-width: 524px) {
    .new-project-row-flex {
        flex-wrap: wrap;
    }
    .milestone {
        width: 120px;
    }
}

@media only screen and (max-width: 394px) {
    .new-project-row-flex-nowrap {
        flex-wrap: wrap;
    }
    .milestone {
        width: 180px;
    }
}


/*.deadline-ordering :nth-child(AREL){order: 1;}*/
/*.deadline-ordering :nth-child(BREL) {order: 2;}*/
/*.deadline-ordering :nth-child(CREL){order: 3;}*/
/*.deadline-ordering :nth-child(PREL){order: 4;}*/
/*.deadline-ordering :nth-child(GA){order: 5;}*/
/*.deadline-ordering :nth-child(GB){order: 6;}*/
/*.deadline-ordering :nth-child(CP1){order: 7;}*/
/*.deadline-ordering :nth-child(CP2){order: 8;}*/
/*TODO order*/

.deadline-ordering :nth-child(1) {
    order: 1;
}

.deadline-ordering :nth-child(2) {
    order: 2;
}

.deadline-ordering :nth-child(3) {
    order: 3;
}

.deadline-ordering :nth-child(4) {
    order: 4;
}

.deadline-ordering :nth-child(5) {
    order: 5;
}

.deadline-ordering :nth-child(6) {
    order: 6;
}

.deadline-ordering :nth-child(7) {
    order: 7;
}

.deadline-ordering :nth-child(8) {
    order: 8;
}
