.p-m-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 0 0 15px 0;
}

.add-p-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 1.1rem;
    margin: 15px 15px 15px 15px;
}

.p-list-container {
    margin: 15px 15px 15px 15px;
}

.link-p-management {
    color: var(--color-grey-light);
    cursor: pointer;
    text-decoration: none;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.link-p-management:visited {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-p-management:hover {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-p-management:active {
    color: var(--color-black-light);
    text-decoration: none;
}