.add-employee-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 35px 0 15px 0;
}


.add-employee-error {
    color: #c90a0a;
    font-weight: bold;
    margin: 0 0 20px 20px;
}

.add-employee-form {
    padding: 15px 0 0 15px;
}

.add-employee-image {
    height: 535px;
    z-index: -1;
    position: absolute;
    right: 0;
}

.add-employee-single-item {
    margin: 1px 15px 30px 15px;
}


@media only screen and (max-width: 807px) {
    .add-employee-row-flex {
        flex-wrap: nowrap;
    }
}
