.p-e-m-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-black-light);
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 15px 0 15px 0;
}

.module-container-project {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.module-container-employee {
    padding-top: 15px;
    display: flex;
    flex-direction: column;

}

.tab-background{
    background-color: var(--color-primary-dark);
    z-index: 0;
    position: absolute;
    width: 96.2vw;
    height: 60px;
}

.module-tab {
    z-index: 1;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 4px 4px 0 0;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    width: 140px;
    height: 40px;
    margin: 0 10px 0 10px;
}

.module-tab:disabled {
    background-color: var(--color-primary-light);
    color: var(--color-black-light);
}

.module-frame-project {
    z-index: 1;
    border-style: solid;
    border-color: var(--color-primary-light);
    border-width: 15px 1px 1px 1px;
    width: 48vw;
    border-radius: 1px 0 1px 1px;
}

.module-frame-employee {
    z-index: 1;
    border-style: solid;
    border-color: var(--color-primary-light);
    border-width: 15px 1px 1px 1px;
    width: 48vw;
    border-radius: 0 1px 1px 1px;
}

.single-card-container{
    background-color: white;
    border-radius: 15px;
    opacity: 0.9;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.single-item-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: inherit;
    align-items: center;
}

h3{
    color: var(--color-grey-medium);
    font-weight: bold;
}

.rowC {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}