.report-m-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 15px 0 15px 0;
}

.report-top-info {
    margin: 10px 0 5px 15px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    z-index: 5;
    color: var(--color-grey-medium);
}

.report-to-confirm-container {
    margin: 15px 15px 15px 15px;
}

.report-to-remind-container {
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}

.report-single-card {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    max-width: fit-content;
    min-width: 220px;
}

.report-m-image {
    height: 300px;
    z-index: -1;
    position: absolute;
    top: 10vh;
    right: 5vw;
}

.report-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
}

.report-button {
    max-width: 250px;
    min-width: 100px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.report-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.report-button:active {
    border: 2px solid var(--color-primary-dark);
}

.report-button:disabled {
    background-color: var(--color-grey-light);
}

.confirm-button {
    max-width: 250px;
    min-width: 100px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.confirm-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.confirm-button:active {
    border: 2px solid var(--color-primary-dark);
}

.confirm-button:disabled {
    background-color: forestgreen;
}

.default-message-button {
    width: fit-content;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px;
    background-color: var(--color-second-medium);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 4px 6px 4px 6px;
}

.default-message-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.default-message-button:active {
    border: 2px solid var(--color-second-dark);
}

.report-justify-center {
    justify-content: center;
    align-items: center;
}

.confirmation-window{
    width: 300px;
    height: 200px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    position: fixed;
    z-index: 6;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

@media only screen and (max-width: 610px) {
    .report-m-image {
        display: none;
    }
}