.about-background {
    background-color: var(--color-primary-light);
    width: 98.7vw;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-container {
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text {
    font-size: 1.1rem;
    color: var(--color-black-light);
    margin: 12px 10px 12px 10px;
    text-align: justify;
}

.about-header {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-grey-light);
    margin: 15px 10px 15px 10px;


}