.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    min-height: 100vh;
}

.h1 {
    font-weight: bold;
}

.settings-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link {
    color: var(--color-grey-light);
    cursor: pointer;
    text-decoration: none;
}

link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
}

link:hover {
    color: var(--color-grey-light);
    text-decoration: none;
}

link:active {
    color: var(--color-black-light);
    text-decoration: none;
}