.container {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.image-background {
    background: url("/src/resources/background-image-blur.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    margin-bottom: 15px;
}

.home-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 15% 00px 15%;
    text-align: center;
}

.home-text-light {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15% 00px 15%;
    text-align: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.tools-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    /*margin-bottom: 10%;*/
    cursor: pointer;
}

.tool-item {
    background-color: white;
    border-radius: 12px;
    opacity: 0.75;
    width: 280px;
    height: 300px;
    margin: 30px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.sign-in-box {
    margin: 10% 10% 0 10%;
    width: 480px;
    min-width: 310px;
    height: max-content;
    min-height: 390px;
    background-color: var(--color-primary-light);
    border-radius: 12px;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px 0 10px 0;
}

.input {
    height: 50px;
    width: 500px;
    min-width: 200px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}

.input-account {
    height: 50px;
    min-width: 180px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}

.home-button {
    margin: 10px 10px 10px 10px;
    width: 150px;
    height: 50px;
    font-size: 1.4rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
}

.home-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.home-button:active {
    border: 2px solid var(--color-primary-dark);
}

.link-t {
    color: var(--color-grey-light);
    cursor: pointer;
    text-decoration: none;
}

.link-t:visited {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-t:hover {
    color: var(--color-grey-light);
    text-decoration: none;
}

.link-t:active {
    color: var(--color-black-light);
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .sign-in-box {
        margin: 0 0 0 0;
        width: 310px;
        height: 390px;
        padding: 0 0 0 0;
    }

    .home-text {
        font-size: 2rem;
    }

    .home-text-light {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 930px) {
    .home-text {
        font-size: 2.2rem;
        margin: 5px 15% 00px 15%;
    }
    .tools-container{
        margin-bottom: 10px;
    }
}