.support-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 50px;
    min-height: 100vh;
    background: url("/src/resources/questions.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.question {
    font-size: 5rem;
    text-align: center;
}

.input {
    height: 50px;
    width: 500px;
    min-width: 200px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}

.button {
    width: 150px;
    font-size: 2rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
}

.button:hover {
    box-shadow: 0 0 0.5em gray;
}

.button:active {
    border: 2px solid var(--color-primary-dark);
}

.image {
    z-index: -1;
}