.footer-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    position: relative;
    margin-bottom: 15px;
}

.block-container{
    width: 20%;
    height: 120px;
    background-color: var(--color-primary);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.separator{
    width: 2px;
    background-color: var(--color-grey-light);
}

.map-container {
    background-color: var(--color-black-light);
    opacity: 0.75;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
}

.map-item{
    margin-left: 15px;
    color: white;
}

.logo1 {
    height: 60px;
}

.link-r {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

link-r:link {
    color: var(--color-grey-light);
    text-decoration: none;
}

link-r:visited {
    color: var(--color-grey-light);
    text-decoration: none;
}

link-r:hover {
    color: var(--color-grey-light);
    text-decoration: none;
}

link-r:active {
    color: var(--color-black-light);
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .logo1 {
        display: none;
    }
}