.availability-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(40deg, rgba(255, 255, 255, 1) 0%, rgba(188, 204, 207, 0.6) 35%, rgba(255, 255, 255, 1) 100%);
    padding: 35px 0 15px 0;
}

h2 {
    margin-left: 15px;
    color: var(--color-grey-light);
}

.availability-image {
    height: 535px;
    z-index: -1;
    position: absolute;
    right: 0;
}

.availability-single-item {
    margin: 1px 15px 30px 15px;
}

.availability-button {
    max-width: 250px;
    min-width: 100px;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.availability-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.availability-button:active {
    border: 2px solid var(--color-primary-dark);
}

.availability-button:disabled {
    background-color: var(--color-grey-light);
}

.generate-button {
    width: fit-content;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px;
    background-color: var(--color-second-medium);
    border: none;
    margin: 10px 10px 10px 20px;
    padding: 10px 10px 10px 10px;
}

.generate-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.generate-button:active {
    border: 2px solid var(--color-second-dark);
}

.option-container {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.option-button {
    width: fit-content;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px;
    background-color: var(--color-second-medium);
    border: none;
    margin: 1px 1px 1px 1px;
    padding: 5px 10px 5px 10px;
}

.option-button:hover {
    box-shadow: 0 0 0.5em gray;
}

.option-button:active {
    border: 2px solid var(--color-second-dark);
}

.chartWrapper {
    position: relative;
    width: 300px;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.chartAreaWrapper {
    width: 2600px;
    overflow-x: scroll;
}

