.t-container {
    background-color: var(--color-on-background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
}

h2 {
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 20px;
}

.t-item {
    display: flex;
    flex-direction: row;
    border-radius: 22px;
    margin: 10px 8px 10px 20px;
    padding-left: 15px;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.icon-image{
    position: relative;
    margin-right: -3px;
    height: 45px;
}


.link {
    color: var(--color-black-light);
    cursor: pointer;
    text-decoration: none;
}

link:visited {
    color: var(--color-black-light);
    text-decoration: none;
}

link:hover {
    color: var(--color-black-light);
    text-decoration: none;
}

link:active {
    color: var(--color-black-light);
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .t-item {
        width: 90%;
        margin-left: 2px;
    }
}